%h1
  Hello, #{@super_admin.first_name}
%p
  On the webpage SpaceX a new organization #{@organization.name} has been created!
%p
  To go to the site, just follow this link: spacex.com.ua.
%p 
  Have a great day!
