Hello, #{@super_admin.first_name}
 
On the webpage SpaceX a new organization #{@user.organization.name} has been created!

Organization owner is #{@user.first_name}

To go to the site, just follow this link: spacex.com.ua.
 
Have a great day!