Hello, #{@super_admin.first_name}
 
On the webpage SpaceX a new organization #{@organization_name} has been created!

Organization owner is #{@name}

To go to the site, just follow this link: spacex.com.ua.
 
Have a great day!