Hello, #{@super_admin.first_name}
===============================================
 
On the webpage SpaceX a new organization #{@organization.name} has been created!

To go to the site, just follow this link: spacex.com.ua.
 
Have a great day!