%h1
  Welcome to example.com, #{@first_name}
%p
  You have successfully signed up to SpaceX.com!
%p
  To login to the site, just follow this link: spacex.com.ua/login.
%p 
  Thanks for joining and have a great day!
