#notification-popup.notice-popup.js__toggle{"data-space" => "75"}
  %h2.popup-title Your Notifications
  / /.popup-title
  .content
    %ul.notice-list
      %li
        %a{:href => "#"}
          %span.avatar
            %img{:alt => "", :src => "http://placehold.it/80x80"}/
          %span.name John Doe
          %span.desc Like your post: “Contact Form 7 Multi-Step”
          %span.time 10 min
      %li
        %a{:href => "#"}
          %span.avatar
            %img{:alt => "", :src => "http://placehold.it/80x80"}/
          %span.name Anna William
          %span.desc Like your post: “Facebook Messenger”
          %span.time 15 min
      %li
        %a{:href => "#"}
          %span.avatar.bg-warning
            %i.fa.fa-warning
          %span.name Update Status
          %span.desc Failed to get available update data. To ensure the please contact us.
          %span.time 30 min
      %li
        %a{:href => "#"}
          %span.avatar
            %img{:alt => "", :src => "http://placehold.it/128x128"}/
          %span.name Jennifer
          %span.desc Like your post: “Contact Form 7 Multi-Step”
          %span.time 45 min
      %li
        %a{:href => "#"}
          %span.avatar
            %img{:alt => "", :src => "http://placehold.it/80x80"}/
          %span.name Michael Zenaty
          %span.desc Like your post: “Contact Form 7 Multi-Step”
          %span.time 50 min
      %li
        %a{:href => "#"}
          %span.avatar
            %img{:alt => "", :src => "http://placehold.it/80x80"}/
          %span.name Simon
          %span.desc Like your post: “Facebook Messenger”
          %span.time 1 hour
      %li
        %a{:href => "#"}
          %span.avatar.bg-violet
            %i.fa.fa-flag
          %span.name Account Contact Change
          %span.desc A contact detail associated with your account has been changed.
          %span.time 2 hours
      %li
        %a{:href => "#"}
          %span.avatar
            %img{:alt => "", :src => "http://placehold.it/80x80"}/
          %span.name Helen 987
          %span.desc Like your post: “Facebook Messenger”
          %span.time Yesterday
      %li
        %a{:href => "#"}
          %span.avatar
            %img{:alt => "", :src => "http://placehold.it/128x128"}/
          %span.name Denise Jenny
          %span.desc Like your post: “Contact Form 7 Multi-Step”
          %span.time Oct, 28
      %li
        %a{:href => "#"}
          %span.avatar
            %img{:alt => "", :src => "http://placehold.it/80x80"}/
          %span.name Thomas William
          %span.desc Like your post: “Facebook Messenger”
          %span.time Oct, 27
    / /.notice-list
    %a.notice-read-more{:href => "#"}
      See more messages
      %i.fa.fa-angle-down
  / /.content
/ /#notification-popup
#message-popup.notice-popup.js__toggle{"data-space" => "75"}
  %h2.popup-title
    Recent Messages
    %a.pull-right.text-danger{:href => "#"} New message
  / /.popup-title
  .content
    %ul.notice-list
      %li
        %a{:href => "#"}
          %span.avatar
            %img{:alt => "", :src => "http://placehold.it/80x80"}/
          %span.name John Doe
          %span.desc Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.
          %span.time 10 min
      %li
        %a{:href => "#"}
          %span.avatar
            %img{:alt => "", :src => "http://placehold.it/80x80"}/
          %span.name Harry Halen
          %span.desc Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.
          %span.time 15 min
      %li
        %a{:href => "#"}
          %span.avatar
            %img{:alt => "", :src => "http://placehold.it/80x80"}/
          %span.name Thomas Taylor
          %span.desc Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.
          %span.time 30 min
      %li
        %a{:href => "#"}
          %span.avatar
            %img{:alt => "", :src => "http://placehold.it/128x128"}/
          %span.name Jennifer
          %span.desc Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.
          %span.time 45 min
      %li
        %a{:href => "#"}
          %span.avatar
            %img{:alt => "", :src => "http://placehold.it/80x80"}/
          %span.name Helen Candy
          %span.desc Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.
          %span.time 45 min
      %li
        %a{:href => "#"}
          %span.avatar
            %img{:alt => "", :src => "http://placehold.it/128x128"}/
          %span.name Anna Cavan
          %span.desc Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.
          %span.time 1 hour ago
      %li
        %a{:href => "#"}
          %span.avatar.bg-success
            %i.fa.fa-user
          %span.name Jenny Betty
          %span.desc Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.
          %span.time 1 day ago
      %li
        %a{:href => "#"}
          %span.avatar
            %img{:alt => "", :src => "http://placehold.it/128x128"}/
          %span.name Denise Peterson
          %span.desc Amet odio neque nobis consequuntur consequatur a quae, impedit facere repellat voluptates.
          %span.time 1 year ago
    / /.notice-list
    %a.notice-read-more{:href => "#"}
      See more messages
      %i.fa.fa-angle-down
  / /.content
/ /#message-popup
#wrapper
  .main-content
    .row.small-spacing
      .col-lg-3.col-xs-12
        .box-content
          .statistics-box.with-icon
            %i.ico.ti-user.text-primary
            %h2.counter.text-inverse Hello
            = current_user.first_name if user_signed_in?

            %p.text= Time.now.strftime(" %I:%M%p")
          / .statistics-box .with-icon
        / /.box-content
        .box-content
          .statistics-box.with-icon
            %i.ico.ti-android.text-success
            %h2.counter.text-success 3562
            %p.text Visitors
          / .statistics-box .with-icon
        / /.box-content
        .box-content
          .statistics-box.with-icon
            %i.ico.ti-apple.text-inverse
            %h2.counter.text-primary 283
            %p.text Members
          / .statistics-box .with-icon
        / /.box-content
      / /.col-lg-3 col-xs-12
      .col-lg-9.col-xs-12
        .box-content
          %h4.box-title Statistics
          / /.box-title
          .dropdown.js__drop_down
            %a.dropdown-icon.glyphicon.glyphicon-option-vertical.js__drop_down_button{:href => "#"}
            %ul.sub-menu
              %li
                %a{:href => "#"} Action
              %li
                %a{:href => "#"} Another action
              %li
                %a{:href => "#"} Something else there
              %li.split
              %li
                %a{:href => "#"} Separated link
            / /.sub-menu
          / /.dropdown js__dropdown
          #svg-animation-chartist-chart.chartist-chart{:style => "height: 314px"}
          / /#svg-animation-chartist-chart.chartist-chart
        / /.box-content
      / /.col-lg-9 col-xs-12
    / /.row small-spacing
    .row.small-spacing
      .col-lg-4.col-xs-12
        .box-content
          %h4.box-title.text-info Site Traffic
          / /.box-title
          .dropdown.js__drop_down
            %a.dropdown-icon.glyphicon.glyphicon-option-vertical.js__drop_down_button{:href => "#"}
            %ul.sub-menu
              %li
                %a{:href => "#"} Action
              %li
                %a{:href => "#"} Another action
              %li
                %a{:href => "#"} Something else there
              %li.split
              %li
                %a{:href => "#"} Separated link
            / /.sub-menu
          / /.dropdown js__dropdown
          .content.widget-stat
            #traffic-sparkline-chart-1.left-content.margin-top-15
            / /#traffic-sparkline-chart-1
            .right-content
              %h2.counter.text-info 278
              / /.counter
              %p.text.text-info Visitors Income
              / /.text
            / .right-content
          / /.content widget-stat
        / /.box-content
      / /.col-lg-4 col-xs-12
      .col-lg-4.col-xs-12
        .box-content
          %h4.box-title.text-success Trade Traffic
          / /.box-title
          .dropdown.js__drop_down
            %a.dropdown-icon.glyphicon.glyphicon-option-vertical.js__drop_down_button{:href => "#"}
            %ul.sub-menu
              %li
                %a{:href => "#"} Action
              %li
                %a{:href => "#"} Another action
              %li
                %a{:href => "#"} Something else there
              %li.split
              %li
                %a{:href => "#"} Separated link
            / /.sub-menu
          / /.dropdown js__dropdown
          .content.widget-stat
            #traffic-sparkline-chart-2.left-content.margin-top-10
            / /#traffic-sparkline-chart-2
            .right-content
              %h2.counter.text-success 36%
              / /.counter
              %p.text.text-success Total Income
              / /.text
            / .right-content
          / /.content widget-stat
        / /.box-content
      / /.col-lg-4 col-xs-12
      .col-lg-4.col-xs-12
        .box-content
          %h4.box-title.text-success Sales Traffic
          / /.box-title
          .dropdown.js__drop_down
            %a.dropdown-icon.glyphicon.glyphicon-option-vertical.js__drop_down_button{:href => "#"}
            %ul.sub-menu
              %li
                %a{:href => "#"} Action
              %li
                %a{:href => "#"} Another action
              %li
                %a{:href => "#"} Something else there
              %li.split
              %li
                %a{:href => "#"} Separated link
            / /.sub-menu
          / /.dropdown js__dropdown
          .content.widget-stat
            #traffic-sparkline-chart-3.left-content
            / /#traffic-sparkline-chart-3
            .right-content
              %h2.counter.text-danger
                849
                %i.fa.fa-usd
              / /.counter
              %p.text.text-danger Credit Earned
              / /.text
            / .right-content
          / /.content widget-stat
        / /.box-content
      / /.col-lg-4 col-xs-12
    / /.row small-spacing
    .row.small-spacing
      .col-lg-4.col-xs-12
        .box-content
          %h4.box-title Activity
          / /.box-title
          .dropdown.js__drop_down
            %a.dropdown-icon.glyphicon.glyphicon-option-vertical.js__drop_down_button{:href => "#"}
            %ul.sub-menu
              %li
                %a{:href => "#"} Action
              %li
                %a{:href => "#"} Another action
              %li
                %a{:href => "#"} Something else there
              %li.split
              %li
                %a{:href => "#"} Separated link
            / /.sub-menu
          / /.dropdown js__dropdown
          .activity-list
            .activity-item
              .bar.bg-primary
                .dot.bg-primary
                / /.dot
              / /.bar
              .content
                .date 10 min
                / /.date
                .text
                  Harry has finished "Amaza HTML" task
                / /.text
              / /.content
            / /.activity-item
            .activity-item
              .bar.bg-danger
                .dot.bg-danger
                / /.dot
              / /.bar
              .content
                .date 15 min
                / /.date
                .text
                  You completed your task
                / /.text
              / /.content
            / /.activity-item
            .activity-item
              .bar.bg-success
                .dot.bg-success
                / /.dot
              / /.bar
              .content
                .date 30 min
                / /.date
                .text
                  New updated has been installed
                / /.text
              / /.content
            / /.activity-item
            .activity-item
              .bar.bg-violet
                .dot.bg-violet
                / /.dot
              / /.bar
              .content
                .date 1 hour ago
                / /.date
                .text Write some comments
                / /.text
              / /.content
            / /.activity-item
            .activity-item
              .bar.bg-warning
                .dot.bg-warning
                / /.dot
              / /.bar
              .content
                .date 1 day ago
                / /.date
                .text 4 friends request accepted
                / /.text
              / /.content
            / /.activity-item
            .activity-item
              .bar.bg-orange
                .dot.bg-orange
                .last-dot.bg-orange
                / /.dot
              / /.bar
              .content
                .date 12 days ago
                / /.date
                .text Daisy has joined your team
                / /.text
              / /.content
            / /.activity-item
          / /.activity-list
          %a.activity-link{:href => "#"}
            View all activity
            %i.fa.fa-angle-down
        / /.box-content
      / /.col-lg-4 col-xs-12
      .col-lg-8.col-xs-12
        .box-content
          %h4.box-title Purchases
          / /.box-title
          .dropdown.js__drop_down
            %a.dropdown-icon.glyphicon.glyphicon-option-vertical.js__drop_down_button{:href => "#"}
            %ul.sub-menu
              %li
                %a{:href => "#"} Product
              %li
                %a{:href => "#"} Another action
              %li
                %a{:href => "#"} Something else there
              %li.split
              %li
                %a{:href => "#"} Separated link
            / /.sub-menu
          / /.dropdown js__dropdown
          %table.table.table-striped.margin-bottom-10
            %thead
              %tr
                %th{:style => "width:40%;"} Product
                %th Price
                %th Date
                %th State
                %th{:style => "width:5%;"}
            %tbody
              %tr
                %td Amaza Themes
                %td $71
                %td Nov 12,2016
                %td.text-success Completed
                %td
                  %a{:href => "#"}
                    %i.fa.fa-plus-circle
              %tr
                %td Macbook
                %td $142
                %td Nov 10,2016
                %td.text-danger Cancelled
                %td
                  %a{:href => "#"}
                    %i.fa.fa-plus-circle
              %tr
                %td Samsung TV
                %td $200
                %td Nov 01,2016
                %td.text-warning Pending
                %td
                  %a{:href => "#"}
                    %i.fa.fa-plus-circle
              %tr
                %td Ninja Admin
                %td $200
                %td Oct 28,2016
                %td.text-warning Pending
                %td
                  %a{:href => "#"}
                    %i.fa.fa-plus-circle
              %tr
                %td Galaxy Note 5
                %td $200
                %td Oct 28,2016
                %td.text-success Completed
                %td
                  %a{:href => "#"}
                    %i.fa.fa-plus-circle
              %tr
                %td CleanUp Themes
                %td $71
                %td Oct 22,2016
                %td.text-success Completed
                %td
                  %a{:href => "#"}
                    %i.fa.fa-plus-circle
              %tr
                %td Facebook WP Plugin
                %td $10
                %td Oct 15,2016
                %td.text-success Completed
                %td
                  %a{:href => "#"}
                    %i.fa.fa-plus-circle
              %tr
                %td Iphone 7
                %td $100
                %td Oct 12,2016
                %td.text-warning Pending
                %td
                  %a{:href => "#"}
                    %i.fa.fa-plus-circle
              %tr
                %td Nova House
                %td $100
                %td Oct 12,2016
                %td.text-warning Pending
                %td
                  %a{:href => "#"}
                    %i.fa.fa-plus-circle
              %tr
                %td Repair Cars
                %td $35
                %td Oct 12,2016
                %td.text-warning Pending
                %td
                  %a{:href => "#"}
                    %i.fa.fa-plus-circle
          / /.table
        / /.box-content
      / /.col-lg-6 col-xs-12
    / /.row
  / /.main-content
/ /#wrapper
/ HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
/[if lt IE 9]
  <script src="assets/script/html5shiv.min.js"></script>
  <script src="assets/script/respond.min.js"></script>
/
  \==================================================
