!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}/
    %title Title
  %body
    %main
      .title
        %h1 About
        %p.subtitle The best design tool on the web
      .text
        %p.column_left
          Founded in 2012, Readymag offers the most powerful, versatile, and visually-pleasing tool for designing on
          the
          web. Ideal for dozens of formats — from landing pages to multimedia long-reads, presentations and portfolios
          —
          all made with a single tool. Besides the design system, at Readymag we seek to advance the
        %p.column_right
          culture and community of design itself. Therefore we research, devise, edit, and publish inspiring and
          enlightening content via Almanac, Enso, and Stories. Creative freedom and mindful design are the principles
          we
          champion throughout everything we do.
      .image
