!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %link{:href => "style.css", :rel => "stylesheet", :type => "text/css"}/
    %title Title
  %body
    %main
      .title
        %h1 About
        %p.subtitle The best design tool on the web
      .text
        %p.column_left
          The only design tool you’ll ever need to tell and present your
          stories and translate boring data into stunning visual formats right in your browser. From presentations to
          infographics, printables and reports,
          tap into hundreds of templates, content blocks and color schemes to easily create beautiful content.
        .column_right
          %ul
            %li 500+ Templates and Color Schemes
            %li 50+ Charts, Data widgets and Maps
            %li Interactivity
            %li One click Publish &amp; Download
            %li Privacy Controls
            %li Engage and Measure
      .image
