.animated
  #welcome-block
    %h1
      Welcome to SpaceX!
    %p We will help you create exciting presentations and impress your colleagues, heads and employers.
    %p Have any questions?
    %button.btn-lg Write to us!