%header.navbar.navbar-expand-lg.fixed-top
  %a.navbar-brand{:href => "#"}
    %img.logo-pic{:src => "logo-pic.png"}/
    %span SpaceX
  %nav.collapse.navbar-collapse
    %ul.navbar-nav.mr-4
      %li
        %a.nav-link{:href => "#"} Pricing
      %li
        %a.nav-link{:href => "#"} About
      %li
        %a.nav-link{:href => "#"} Contact Us
  .header-join
    .header-join-sign-up
      %a{:href => "#"} Join
    .header-join-log-in
      %a{:href => "#"} Log in