.container-group-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  font-size: 20px;
  font-family: RalewayMedium;
  color: black;

  .table-container {
    width: 50%;

    .border-table-header {
      border-bottom: 4px solid blue;
      margin-bottom: 10px;
    }

    .edit-block, .delete-block {
      text-align: end;

      a:hover {
        text-decoration: underline !important;
      }
    }

    .edit-block {
      padding-left: 50px;
    }
  }

  .button-submit {
    border-radius: 7px;
    font-size: 18px;
    padding: 14px 28px;

    &:hover {
      font-size: 20px;
      padding: 16px 30px;
      margin-bottom: -4px;
    }
  }
}
