.card-content
  .form-group
    = simple_form_for [:account, @devices] do |f|
      = f.input :name, input_html: { maxlength: 50 }  
      = f.input :device_type, input_html: { maxlength: 50 }      
      = f.button :submit, "Submit", class: "btn btn-primary waves-effect waves-light"        
        
          