$color_1: black;
$font_family_1: "Arial Black", Gadget, sans-serif;

.bg-1 {
  background: fixed $color_1 url(hero.jpg) center center no-repeat;
  background-size: cover;
  height: 530px;
  width: 70%;
}


.container-about {
  padding: 60px 0 50px 0;

  .text {
    font-size: 20px;
    text-align: justify;
  }

  .title {
    margin-bottom: 30px;
    font-family: $font_family_1;
    color: $color_1;
    font-size: 60px;
  }

  .ab-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    .img-responsive {
      width: 60%;
    }

    p {
      margin-top: 20px;
      font-style: italic;
      font-weight: bold;
    }
  }
}
