@import "bootstrap";

//contact-form
.form {
  align-content: center;
  color: #fff;
  font-family: sans-serif;
}
.form h1 {
  margin-top: 200px;
  font-size: 32px;
}
.form-group {
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
}

.btn {
  background: #ff5722;
  color: white;
}
