* {margin: 0; padding: 0;}

html, body {
  height: 100%;
}
.body-wrapper {
  display: grid;
  grid-template-rows: 10% 1fr 8%;
  grid-template-columns: 1fr;
  min-height: 100%;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-motto {
  width: 20%;
  text-align: center;
}

.header-motto-inner {
  color: #000;
  font-size: 1.3em;
  font-weight: 700;
  font-family: sans-serif;

  :hover {
    opacity: 0.5;
    transition: 0.5s;
  }
}

.header-menu {
  width: 60%;
}

.header-menu-list {
  padding: 0 25%;
  display: flex;
  justify-content: space-around;
}

.header-menu-item {
  list-style: none;
  display: inline-block;

  a {
    text-decoration: none;
    color: #000;
    font-size: 1em;
    font-weight: 400;
    font-family: sans-serif;

    :hover {
      color: #191970;
      font-weight: 400;
      transition: 0.5s;
      text-shadow: 0 0 3px;

    }
  }
}

.header-join {
  width: 20%;
}

.header-join-inner {
  text-align: right;
  padding-right: 30px;
}

.header-join-sign-up {
  display: inline-block;
  border-radius: 45%;
  background-color: black;
  opacity: 0.8;
  padding: 10px 20px;

  a {
    color: #fff;
    text-decoration: none;
  }
}


.header-join-log-in{
  a {
    color: #000;
    text-decoration: none;

    :hover {
      color: #191970;
      text-decoration: underline;
      transition: 0.3s ease-out;

    }
  }
}

.footer {
  color: white;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;

  a {
    color: white;
  }
}

.footer-home {
  display: flex;
  align-items: center;
  font-size: 0.7em;
  font-weight: 700;
  padding: 0 8px;
  border: 1px solid #fff;
}
.footer-menu-list {
  list-style: none;
  display: flex;
  align-items: center;
}
.list-item {
  padding: 0 5px;
}
.footer-logo {
  display: flex;
  justify-content: space-between;
}

.pages {
  text-decoration: none;
  margin: 0 10px;
}