/*index-page style*/

#welcome-block {
  padding: 2em;

  h1 {
    color: #f97300;
    text-align: center;
  }

  p {
    font-size: 20px;
    line-height: 1.5;
    margin-left: 15%;
    margin-right: 15%;
    color: #666;
  }

  button {
    color: #fff;
    border: 2px solid #f97300;
    background: #f97300;

    &:hover {
      color: #f97300;
      background-color: white;
      transition: .5s ease-in-out ;
    }
  }
}


