/*constants*/

// colors that should remain unchanged or just be replaced by others

$black: #000;
$green: #50d8af;

/*index-page style*/

#welcome-block {
  position: absolute;
  top: 30%;
  margin: auto;
  padding: 2em;

  h1 {
    color: #f97300;
    text-align: center;
  }

  p {
    font-size: 20px;
    line-height: 1.5;
    margin-left: 15%;
    margin-right: 15%;
    color: #666;
  }

  button {
    color: #fff;
    border: 2px solid #f97300;
    background: #f97300;

    &:hover {
      color: #f97300;
      background-color: white;
      transition: .5s ease-in-out ;
    }
  }
}

/*flash style*/

#flash-block {
  position: absolute;
  top: 20%;
  margin: auto;
  padding: 2em;
} 

/*contact-page style*/

.reply {
  padding: 30% 0 0 0;
}

#contact {
  padding: 100px 0 50px 0;
  .contact-info {
    padding: 40px 0 0 0;
    margin-bottom: 20px;
    text-align: center;
    i {
      font-size: 48px;
      display: inline-block;
      margin-bottom: 10px;
      color: $green;
    }
    address, p {
      margin-bottom: 0;
      color: $black;
    }
    h3 {
      font-size: 18px;
      margin-bottom: 15px;
      font-weight: bold;
      text-transform: uppercase;
      color: #999;
    }
    a {
      color: $black;
      &:hover {
        color: $green;
      }
    }
  }
  #google-map {
    height: 290px;
    margin-bottom: 20px;
  }
}
