.main-content
  %footer.footer
    %ul.list-inline
      %li 2016 © NinjaAdmin.
      %li
        %a{:href => "#"} Privacy
      %li
        %a{:href => "#"} Terms
      %li
        %a{:href => "#"} Help
