.main-content
  %footer.footer
    %ul.list-inline
      %li 
      = Time.zone.now.year 
      © NinjaAdmin.
      %li
        %a{href: "#"} Privacy
      %li
        %a{href: "#"} Terms
      %li
        %a{href: "#"} Help
