%body
  .main-menu
    %header.header
      %a.logo{:href => "index.html"}
        %i.ico.ti-rocket>
        SpaceX
      %button.button-close.fa.fa-times.js__menu_close{:type => "button"}
    / /.header
    .content
      .navigation
        %h5.title Navigation
        / /.title
        %ul.menu.js__accordion
          %li
            %a.waves-effect{:href => "#{account_root_path}"}
              %i.menu-icon.ti-dashboard
              %span Dashboard
          %li
            %a.waves-effect{:href => "#{account_user_path(current_user.id)}"}
              %i.menu-icon.ti-user
              %span Profile


      / /.navigation
    / /.content
  / /.main-menu
