%footer.footer
  %span.footer-home
    %a{:href => public_pages_home_path} VIP_LOGO
  %ul.footer-menu-list
    %li
      %a.pages{:href => "#"} Pricing
    %li
      %a.pages{:href => "#"} About
    %li
      %a.pages{:href => "#"} Contact Us
  %div
    %ul.footer-menu-list.footer-logo
      %li.list-item Subscribe Us:
      %li
      %li.list-item
        %img{:src => "facebook.png"}/
      %li.list-item
        %img{:src => "twitter.png"}/
      %li.list-item
        %img{:src => "instagram.png"}/
