%header.page-header
  .header-motto
    %span.header-motto-inner
      %a{:href => public_pages_home_path} VIP_LOGO
  %nav.header-menu
    %ul.header-menu-list
      %li.header-menu-item
        %a{:href => "#"} Pricing
      %li.header-menu-item
        %a{:href => "#"} About
      %li.header-menu-item
        %a{:href => "#"} Contact Us
  .header-join
    .header-join-inner
      %span.header-join-sign-up
        %a{:href => "#"} Join
      %span or
      %span.header-join-log-in
        %a{:href => "#"} Log in